<!doctype html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>BOOKNOS</title>

  <link rel="stylesheet" href="static/css/confirm.css">
</head>

<body>
  <h1>{{ title }}</h1>
  <div style="margin:0px;padding:0px;" align="center">
    <table>
      <tbody>
        <tr>
          <td">タイトル</td>
          <td">{{ book_data['title'] }}</td>
        </tr>
        <tr>
          <td>著者</td>
          <td>{{ book_data['authors'] }}</td>
        </tr>
        <tr>
          <td>出版時期</td>
          <td>{{ book_data['published_date'] }}</td>
        </tr>
        <tr>
          <td>説明</td>
          <td>{{ book_data['description'] }}</td>
        </tr>
        <tr>
          <td>ISBN</td>
          <td>{{ book_data['isbn_code'] }}</td>
        </tr>
        <tr>
          <td>サムネイル</td>
          <td>
            <img src={{ book_data['thumbnail'] }} alt="サムネイル" title="サムネイル">
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <a href="/">トップに戻る</a>
</body>

</html>
